.inner-card{
  width: fit-content;
  display: grid;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: brown;
  align-content: end;
  margin-top: 50px;
  
}
.inner-img{
  width: 70%;
  justify-self: center;
  border: 2px solid cyan;
  border-radius: 10%;
  box-shadow: 0px 0px 20px 10px rgb(24, 12, 12);
  height: auto;
}
.inner-card h3{
  visibility: hidden;
  text-transform: capitalize;
  text-shadow: 2px 2px rgba(5,0,159,1) ;
}
.inner-card:hover h3{
  visibility: visible;
}

@media only screen and (max-width:1100px) {
  .h3-css{
    font-size: 150%;
  }
}
@media only screen and (max-width:600px) {
  .h3-css{
    font-size: 80%;
  }
}

     