.App{
    display: grid;
}
.search{
    justify-self: center;
}
.particles{
    
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
}
.nav{
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-content: center;
    gap: 20px;
}
.nav-comp{
    font-size: 120%;
    background: rgb(0, 255, 208);
    border: none;
    box-shadow: 0px 2px 10px chartreuse;
    font-family: 'Roboto Mono', monospace;
}

.paginate{
    border:solid green 2px;
    display: flex;
    justify-content: center;
}

  
  .paginate li {
      flex-grow: 4;
    display: flex;
    justify-content: center;
    }
    .paginate a{
        flex-grow: 4;
        cursor: pointer;
        border:solid red 2px;
    }

